*,
*:after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-display: swap; 
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/paytone-one-v25-latin-regular.woff2') format('woff2'); 
}

body{
    background: #00031A;
    font-family: "Paytone One", sans-serif;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 60px;
    background: red;
}

